* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* MAIN PAGE */

body {
    background-color: rgb(209, 206, 206);
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 100%;
    height: 30vh;
    background-image: url(/images/main-header.jpg);
    background-repeat: repeat;
    background-size: cover;
}

h1 {
    color: white;
    background-color: rgba(238, 149, 164, 0.936);
    padding: 2rem 0;
    font-size: 8rem;
    font-family: 'Monoton', cursive;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #1ed7f0,
        2px -2px 0 #1ed7f0,
        -2px 2px 0 #4074b5,
        -2px -2px 0 #1ed7f0,
        2px 0px 0 #1ed7f0,
        0px 2px 0 #1ed7f0,
        -2px 0px 0 #1ed7f0,
        0px -2px 0 #1ed7f0;
}

#candy-cane {
    color: white;
}

article {
    margin: 3rem auto;
    padding: 5rem;
    width: 70vw;
    background-color: white;
    border-radius: 1rem;
}

section h2 {

    padding: 1rem 0 1rem 1rem;
    color: rgb(226, 43, 226);
    background-color: rgb(192, 190, 190);
    border-radius: 1rem;
    position: relative;
}


.fa-solid {
    color: rgb(64, 196, 240);
}

/* SECTION THREE */

div p,
section p {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.ourTreats img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    float: left;
}

#divOneOurTreats img {
    margin-right: 2rem;
    margin-bottom: 1rem;
    border: 1rem solid yellow;

}

#divTwoOurTreats img {
    margin-left: 2rem;
    margin-bottom: 1rem;
    float: right;
    border: 1rem solid aqua;

}

#divThreeOurTreats img {
    margin-right: 2rem;
    margin-bottom: 1rem;
    border: 1rem solid rgba(238, 149, 164, 0.936);

}

.ourTreats div {
    padding-top: 3rem;
}

/* BOTTOM SECTION */

.bottomSection h3 {
    padding: 2rem 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.bottomSection ul {
    background-color: rgb(248, 160, 160);
    padding: 1rem 1rem;

}

.bottomSection ul:hover {
    background-color: yellow;
}

.bottomSection ul li {
    list-style-type: none;
    text-align: center;
}

.bottomSection ul li:hover {
    background-color: rgb(248, 160, 160);
    padding: 0.5rem 0;
}

.bottomSection ul li a {
    text-align: center;
    text-decoration: none;
    color: rgb(101, 5, 175);
    font-weight: bold;
}

/* DROP ME ! */

.dropMe {
    text-align: center;
    padding: 3rem 0;
}

.dropMe a {
    text-decoration: none;
    color: rgb(79, 3, 151);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* KONTAKT  */

#top h2 {
    padding: 1rem 1rem;
    color: black;
}

img {
    object-fit: cover;
}

#top ul li {
    list-style-type: none;

}

#top ul li:hover {
    background-color: rgb(248, 160, 160);
    padding: 0.5rem 0;
}

ul {
    background-color: aqua;
    padding: 1rem 0 1rem 1rem;
    margin-left: 2rem;

}

#ReturnButton {
    padding: 2rem 1rem;
}

#ReturnButton a {
    color: rgb(253, 135, 218);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}